/*INFO GENERALI*/
html {
    font-size: 70%;
}

body {
    margin: 0;
    font-family: "Open Sans", system-ui;
    font-size: 1.2em;
    line-height: 1.65;
    font-weight: 500;
    color: #393d41;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3 {
    font-family: "Montserrat", sans-serif;
    line-height: 1.5;
    font-weight: bold;
    color: #25a2c3;
    font-size: 1.4em;
}

/*HEADER*/

header {
    min-height: 130px;
    background-color: black;
    padding: 15px;
}


header img {
    max-width: 200px;
    margin-top: 15px;
}

/*NAV*/

nav {
    padding-inline: 200px;
    padding-block: 200px;
    min-height: 500px;
    background-size: cover;
    background-position: center center;
    background-image: url('../img/banner.jpg');
    text-align: center;
}

nav h1 {
    font-size: 3.2em;
    line-height: 1.2em;
    padding-top: 40px;
    padding-bottom: 15px;
}

nav p {
    max-width: 1050px;
    margin-inline: auto;
    padding-inline: 150px;
    padding-block: 20px;
}

nav p,
article :where(h2, p) {
    font-size: 1.4em;
}

button {
    font-family: "Montserrat", sans-serif;
    line-height: 1.5;
    font-weight: bold;
    width: 150px;
    min-height: 50px;
    background-color: #f04c2f;
    margin-top: 15px;
    color: white;
    border-radius: 5px;
    border: none;
}

button:hover {
    cursor: pointer;
}

/*MAIN*/

/*ARTICLE*/
article {
    min-height: 400px;
    text-align: center;
    padding: 80px;
}

article div p {
    margin-block: 20px;
}

article img {
    min-height: 300px;
    width: 500px;
    border-radius: 100%;
    padding: 30px;
}

#articleInline {
    min-height: 340px;
    display: inline-block;
    max-width: 550px;
    text-align: left;
}


/*SECTION*/
section div {
    text-align: center;
}

section div h2 {
    color: white;
    font-size: 30px;
    padding-top: 80px;
    padding-bottom: 15px;
}

section div h4 {
    font-size: 20px;
    padding-top: 30px;
}

section div p {
    font-size: 13px;
}

.testimonianza {
    background-color: #e22d0e;
    color: white;
    padding-inline: 50px;
    min-height: 350px;
}

#italicText {
    font-size: 25px;
    font-style: italic;
}


/*ASIDE*/
aside {
    width: 100%;
    text-align: center;
}

aside div {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    max-width: 350px;
    min-height: 350px;
    border: 1px solid #dee1e3;
    margin: 35px;
    border-radius: 5px;
}

aside div img {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

aside div h3 {
    margin-block: 10px;
}

aside div p {
    font-size: 16px;
}

/*FOOTER*/
footer {
    background-color: #25a2c3;
    padding-inline: 200px;
    padding-block: 50px;
}

footer h2 {
    padding-bottom: 20px;
    color: white;
    font-size: 3.2em;
}

footer p {
    color: #C8E7F0;
    font-size: 17px;
}

#container {
    max-width: 280px;
    margin-inline: auto;
}

footer a {
    color: #C8E7F0;
}

a:hover {
    color: blue;
}

#underline {
    text-decoration: underline;
}

#alignP {
    text-align: center;
}

#lines {
    border: 1px solid white;
    margin-block: 35px;
}